<diamodal>
    <diamodal-head>
        Edit Profile
    </diamodal-head>
    <diamodal-body>
        <form>
            <label class="item item-input item-text-wrapper item-stacked-label">
                <span class="input-label">Body: </span>
                <textarea rows="20" placeholder="Message Content" ng-model="edit.about"></textarea>
            </label>
        </form>
    </diamodal-body>
    <diamodal-footer>
        <button class="button button-block button-positive" type="submit" ng-click="updateProfile()">Update</button>
    </diamodal-footer>
</diamodal>