<diamodal>
    <diamodal-head >
        <div class="padding item-avatar" style="margin-top:10px">
            <img ng-src="{{user.avatar}}" class="item-image"> {{user.fullname}} <br><small>Blood Sugar Chart</small>
        </div>
    </diamodal-head>>
    <diamodal-body>
        <div class="card" style="min-height:100%;">
            <div class=" item item-text-wrap ">
                <canvas id="line " class="chart chart-line " data="data " labels="labels " chart-legend="true " series="series " chart-options="{showTooltips: false} "
                    height="500 "></canvas>
            </div>
        </div>
    </diamodal-body>
</diamodal>