<ion-view>
    <ion-header-bar class="bar-subheader bar-positive item-input-inset row">
      <button class="button button-block icon ion-edit" ng-click="openEditProfile()"></button>
    </div>
  </ion-header-bar>
    <ion-content class="has-header has-subheader">
        <div class="list">
             <diaprofile user="user"></diaprofile>
            <div class="item">
                <diabuttongroup names="buttonNames" selected="selectedButton" whenclicked="buttonClicked(index)"></diabuttongroup>
            </div>
            <div class="item item-borderless">
                <diafollow list="social" hasremove ="hasRemove" hasaccept = "hasAccept" listid="listid" action="followAction(name,userid,listid)"></diafollow>
            </div>
        </div>
    </ion-content>
</ion-view>