<ion-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
   <button class="button button-balanced" ng-click="goToRegister()">Register</button>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="login()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
          </div>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>