<ion-view>
    <ion-header-bar class="bar-subheader bar-positive item-input-inset row">
        <button class="button button-block icon ion-plus" ng-show="isPatient" ng-click="openCreate()">
        </button>
    </ion-header-bar>
    <ion-content class="has-header has-subheader">
        <div class="card" ng-repeat="meeting in meetings track by $index">
            <div class="item item-divider">
                Location: {{meeting.location}}, {{meeting.city}}<br> By: {{meeting.fullname}} ({{meeting.username}})<br>
                <span class="subdued">{{meeting.date | date:'medium'}}</a>
            </div>
            <div class="item item-text-wrap">
               {{meeting.details}}
            </div>
            <div class="item item-divider row">
                <div class="col col-80 col-center">
                <a  ng-click="showAttenders(meeting.id)">Attenders</a>
                </div>
                <div class="col">
                <a class="button button-small button-balanced" ng-hide="meeting.joined || meeting.owner" style="width:48px" ng-click="join($index)">Join</a>
                <a class="button button-small button-assertive" ng-show="meeting.joined && !meeting.owner" style="width:48px" ng-click="leave($index)">Leave</a>
                <a class="button button-small button-assertive" ng-show="meeting.owner"style="width:48px" ng-click="cancel($index)">Cancel</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>