<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class=" bar bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="primary">
        <div class="item-input-inset search-bar">
          <label class="item-input-wrapper">
           <input type="text" ng-model="what.like" placeholder="{{criteria.by | capitalize}}, {{criteria.city}}">
          </label>
          <button class="button icon ion-search" ng-click="search()"></button>
          <button class="button icon ion-levels" ng-click="searchSettings()"></button>
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">{{user.username}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/messages">
          Messages
        </ion-item>
        <ion-item menu-close href="#/app/meetings">
          Meetings
        </ion-item>
        <ion-item menu-close href="#/app/events">
          Events
        </ion-item>
        <ion-item ng-show="user.isPatient" menu-close ng-click="goToCheckInReports()">
          Check In Reports
        </ion-item>
        <ion-item menu-close ng-click="logout()">Logout </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>