<diamodal>
    <diamodal-head>
        Entry
    </diamodal-head>
    <diamodal-body>
        <div class="card">
            <div class="item item-divider">
                From: {{openedMessage.from}}
            </div>
            <div class="item">
                Title: {{openedMessage.title}}
            </div>
            <div class="item">
                Date: {{openedMessage.createdAt | date:'medium'}}
            </div>
            <div class="item item-body">
                {{openedMessage.body}}
            </div>
        </div>
    </diamodal-body>
    <diamodal-footer class="button-bar">
        <button class="button button-block button-balanced" ng-click="openReply()">Reply</button>
        <button class="button button-block button-assertive" ng-click="deleteMessage()">Delete</button>
    </diamodal-footer>
</diamodal>