<ion-view>
  <ion-header-bar class="bar-positive bar-subheader">
    <div class="button-bar">
    <a class="button icon ion-plus" ng-click="openNewMessage()"></a>
    <a class="button icon ion-loop" ng-click="refresh()"></a>
    </div>
  </ion-header-bar>
  <ion-content class="has-header has-subheader">
    <ion-list has-swipe="true">
      <ion-item ng-repeat="msg in messages track by $index">
        <p ng-style="msg.viewed ? {'font-weight': 'normal'} : {'font-weight': 'bold'}">
          From: {{msg.from}}</br>
          Title: {{msg.title}}</br>
          Sent At: {{msg.createdAt | date:'medium'}}
        </p>
        <ion-option-button class="icon ion-ios-filing" ng-click="openMessage($index)" />
        <ion-option-button class="icon ion-forward" ng-click="openReply($index)" />
        <ion-option-button class="icon ion-trash-a" ng-click="deleteMessage($index)" />
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>