<diamodal>
    <diamodal-head>
        New Check In Report
    </diamodal-head>
    <diamodal-body>
        <div class="list">
            <label class="item item-stacked-label item-text-wrap" ng-repeat="entry in newReport.answers">
                    <p>{{entry.question}}</p>
                    <input type="text" ng-model = "entry.answer">
            </label>
        </div>
    </diamodal-body>
    <diamodal-footer>
        <button class="button button-block button-positive" type="submit" ng-click="submitReport()">Create Report</button>
    </diamodal-footer>
</diamodal>