<diamodal>
    <diamodal-head>
        New Message
    </diamodal-head>
    <diamodal-body>
        <form>
            <label class="item item-input">
                <span class="input-label">To</span>
                <input type="text" placeholder="To (username)" ng-disabled="to.auto" ng-model="to.name">
             </label>
            <label class="item item-input">
                <span class="input-label">Title</span>
                <input type="text" placeholder="Title" ng-model="newMessage.title">
             </label>
            <label class="item item-input item-text-wrapper item-stacked-label">
                <span class="input-label">Body: </span>
                <textarea rows="20" placeholder="Message Content" ng-model="newMessage.body"></textarea>
            </label>
        </form>
    </diamodal-body>
    <diamodal-footer>
        <button class="button button-block button-positive" type="submit" ng-click="sendMessage()">Send</button>
    </diamodal-footer>
</diamodal>