<diamodal>
    <diamodal-head>
        <h1 class="title">New Meeting</h1>
    </diamodal-head>
        <diamodal-body>
            <div class="list">
                <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" placeholder="Date" ng-model="newMeeting.date">
            </label>
                <label class="item item-input">
                <span class="input-label">Time</span>
                <input type="time" placeholder="Time" ng-model="newMeeting.time">
            </label>
                <label class="item item-input">
                <span class="input-label">City</span>
                <input type="text" placeholder="City" ng-model="newMeeting.city">
            </label>
                <label class="item item-input">
                <span class="input-label">Location</span>
                <input type="text" placeholder="Location" ng-model="newMeeting.location">
            </label>
                <label class="item item-input">
                <span class="input-label">Details</span>
                <textarea rows="10" placeholder="Meeting details (Like specific place, how to get there, theme etc...)" ng-model="newMeeting.details"></textarea>
            </label>
            </div>
        </diamodal-body>
        <diamodal-footer>
            <button class="button button-block button-positive" type="submit" ng-click="create()">Create Meeting</button>
        </diamodal-footer>
</diamodal>