<ion-view>
  <ion-header-bar class="bar-subheader bar-positive" ng-hide="isOwner">
    <div class="button-bar">
      <span class="col-center">{{showStatuses | arrayPrinter:'&'}}</span>
      <a class="button icon ion-email" ng-click="openNewMessage()"></a>
      <a class="button icon ion-plus" ng-show="showAdd" ng-click="add()"></a>
      <a class="button icon ion-close" ng-show="showRemoveFollowee || showRemoveFollower" ng-click="removeFollow()"></a>
      <a class="button icon ion-checkmark" ng-show="showAccept" ng-click="accept()"></a>
    </div>
  </ion-header-bar>
  <ion-content class="has-header has-subheader">
    <diaprofile user="user" expanded="true" ng-hide="isOwner"></diaprofile>
    <div ng-show="showReports" style="margin:0">
      <div class="item item-divider" style="height:70px">
        <span style="vertical-align: middle; line-height:70px">Check In Reports</span>
      </div>
      <div class="item">
        <div class="button-bar">
          <a class="button icon ion-arrow-graph-up-right" ng-click="giChart()"></a>
          <a class="button icon ion-compose" ng-click=checkIn()></a>
          <a class="button icon ion-alert-circled badge-container" ng-if="countReq" ng-click="showCheckInRequests()">
            <strong class="assertive">{{countReq}}</strong>
          </a>
          <a class="button icon ion-funnel" ng-click="showReportFilterSheet()"></a>
        </div>
      </div>
      <div class="item item-divider">
         <span style="vertical-align: middle;">Filter</span>
      </div>
      <ion-list can-swipe="true" class="list">
        <ion-item ng-repeat="report in reports">
          {{report.date | date:'medium'}}
          <ion-option-button class="button  icon ion-ios-list" ng-click="showReportDetail(report.id,report.date)">
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>