<diamodal>
    <diamodal-head>
      Registration
   </diamodal-head>
    <diamodal-body>
      <form ng-submit="signup()">
         <div class="list">
            <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="data.password">
            </label>
            <label class="item item-input">
            <span class="input-label">Re-Password</span>
            <input type="password" placeholder="Password">
            </label>
            <label class="item item-input">
            <span class="input-label">E-mail</span>
            <input type="email" placeholder="Email" ng-model="data.email">
            </label>
             <label class="item item-input">
            <span class="input-label">Full Name</span>
            <input type="text" placeholder="Full Name" ng-model="data.fullname">
            </label>
            <label class="item item-input">
            <span class="input-label">City</span>
            <input type="text" placeholder="City" ng-model="data.city">
            </label>
            <label class="item item-input">
            <span class="input-label">Country</span>
            <input type="text" placeholder="Country" ng-model="data.country">
            </label>
            <label class="item item-input">
            <span class="input-label">Birthday</span>
            <input type="date" placeholder="Birthday" ng-model="data.date">
            </label>
            <label class="item item-input">
            <span class="input-label">About Me</span>
            <textarea rows="10" placeholder="About Me (Optional)" ng-model="data.about"></textarea>
            </label>
            <ion-checkbox ng-model="data.patient">I'm a Patient</ion-checkbox>
            <label class="item">
            <button class="button button-block button-positive" type="submit">Register</button>
            </label>
         </div>
      </form>
    </diamodal-body>
</diamodal>