<ion-view>
  <ion-content class="has-header padding">
    <diafollow list="results"></diafollow>
    <ion-infinite-scroll ng-if="moreItems" on-infinite="searchMore() " distance="1% ">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>