<diamodal>
    <diamodal-head>Search Settings</diamodal-head>
    <diamodal-body>
        <div class="list">
            <div class="item item-divider">Name Filter</div>
            <ion-radio name="nameChoice" ng-model="criteria.by" ng-checked="{{criteria.by==='username'}}" ng-value="'username'">By Username</ion-radio>
            <ion-radio name="nameChoice" ng-model="criteria.by" ng-checked="{{criteria.by==='fullname'}}" ng-value="'fullname'">By Fullname</ion-radio>
            <ion-radio name="nameChoice" ng-model="criteria.by" ng-checked="false">No Criteria Field</ion-radio>
            <ion-checkbox class="item-divider" ng-model="criteria.patient">Patient</ion-checkbox>
            <div class="item item-divider">Location Filter</div>
            <label class="item item-input">
                 <span class="input-label">City: </span>
                 <input type="text" ng-model="criteria.city" placeholder="Enter a City">
            </label>
        </div>
    </diamodal-body>
    <diamodal-footer>
        <button type="button" class="button button-positive" ng-click="updateSearchCriteria()">Save</button>
    </diamodal-footer>
</diamodal>