<ion-list show-delete="false" can-swipe="true">
    <ion-item class="item-avatar" ng-repeat="friend in list">
        <img ng-src="{{friend.avatar}}">
        <h2>{{friend.fullname}} ({{friend.username}})</h2>
        <p>{{friend.location}}</p>
        <ion-option-button class="button button-positive  button-outline icon ion-ios-book-outline" ng-click="goToProfile(friend.id)">
        </ion-option-button>
        <ion-option-button ng-show="haccept" class="button button-positive   icon button-outline ion-ios-checkmark" ng-click="accept(friend.id)">
        </ion-option-button>
        <ion-option-button ng-show="hrmv" class="button button-assertive  icon button-outline ion-ios-close" " ng-click="remove(friend.id) ">
                        </ion-option-button>
    </ion-item>
</ion-list>