<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <span ng-transclude="head" style="width:100%;text-align:center;" class="col-center"></span>
        <button class="button button-assertive icon ion-close" ng-click="close()"></button>
    </ion-header-bar>
    <ion-content class="has-header has-footer">
        <div ng-transclude="body"></div>
    </ion-content>
    <ion-footer-bar style="height:60px;">
        <div ng-transclude="footer" style="width:100%"></div>
    </ion-footer-bar>
</ion-modal-view>