<div class="button-bar">
    <a ng-repeat="name in names track by $index" 
    ng-class="($index === selected)? 'button button-positive': 'button button-positive button-outline'" style="font-size: 9pt"
        ng-click="buttonClicked($index)">{{name}}</a>
</div>