<div class="row">
    <div class="col col-center col-90">
        <h2>{{user.fullname}} ({{user.username}})</h2><br>
        <p>
            Location: {{user.location}}<br> Age: {{user.birthdate | ageFilter}}<br>
            <small ng-if="user.isPatient"><strong>Patient</strong></small>
        </p>
    </div>
    <div class="col">
        <button class="button button-outline button-small ion-chevron-down" ng-click="toggleHideAbout()" />
    </div>
</div>
<div class="item item-body" ng-show="expanded">
    <img class="full-image padding" ng-src="{{user.avatar}}">
    <p>
        {{user.about}}
    </p>
</div>