/* Empty. Add your own CSS if you like */


.has-big-header{
    margin-top: 50px !important;
}

.big-bar-header{
    height: 50px !important;
    padding-top:20px !important;
}

.badge-container{
      position: relative;
}


